<hr>

<div class="container-fluid">
  <h1>{{ title}}</h1>
</div>

<hr>

<div class="container-fluid">
  <h2>Users</h2>

  <div *ngFor="let user of users">
    <p *ngIf="user.age > 20">
      {{ user.firstName }} {{ user.lastName }}
    </p>
  </div>
</div>

<hr>

<div class="container-fluid">
  <app-user [parentUsers]="parentUsers" (usersEvent)="retrieveChildUsers($event)"></app-user>
</div>

<hr>

<div class="container-fluid">
  <h1>Data from child component</h1>

  <div *ngFor="let user of childUsers">
    <p>{{ user.firstName }} {{ user.lastName }} - {{ user.email }} - {{ user.phoneNumber }} - {{ user.dateOfBirth }}</p>
  </div>
</div>

<hr>

<div class="container-fluid">
  <app-user-form></app-user-form>
</div>

<hr>

